@(loginForm: Form[views.SignInFormDate])
@import helper._

@form(routes.Application.authenticate(), 'class -> "navbar-form navbar-right") {

    @if(loginForm.hasGlobalErrors) {
        <div class="form-group has-error">
            <label class="control-label" for="email">Email</label>
            <input type="text" class="form-control"  name="email" id="email">
        </div>
        <div class="form-group has-error">
            <label class="control-label" for="password">Password</label>
            <input type="password" class="form-control"  name="password" id="password">
        </div>

    }
    @if(!loginForm.hasGlobalErrors) {

        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input type="text" class="form-control"  name="email" id="email" >
        </div>
        <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" class="form-control"  name="password" id="password">
        </div>

    }
    <button type="submit" class="btn btn-link">Sign in</button>

}